[submodule "VulkanLaunchpad"]
	path = external/VulkanLaunchpad
	url = https://github.com/cg-tuwien/VulkanLaunchpad.git
[submodule "imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
